@using System.Configuration;
@using Core.Entities;
@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    ViewBag.title = "About Us Page";

    Core.Entities.Page page = ViewBag.page;
    List<AboutUsMedia> aboutUsMedia = ViewBag.aboutUsMedia;
    List<Media> media = ViewBag.media;
}

    <h3>Edit About Us Page</h3>
    <form action="@Url.Action("SaveAboutUsPage", "Admin")" method="post">
        <input type="hidden" name="Id" value="@page.Id" />
        <div class="form-group">
            <h4>Header Paragraph</h4>
            <textarea required class="form-control" name="Paragraph1" id="paragraph1">@page.Paragraph1</textarea>
        </div>
        <div class="card">
            <div class="card-content">
                <h4 class="card-title">Header Background</h4>
                <div class="form-group">
                    <input type="file" id="background1" />
                    <span class="material-input"></span>
                </div>
                <input type="hidden" name="BackgroundImage1" value="@(!string.IsNullOrEmpty(page.BackgroundImage1) ? page.BackgroundImage1 : "")" />
                <input type="hidden" name="BackgroundOriginalName1" value="@(!string.IsNullOrEmpty(page.BackgroundOriginalName1) ? page.BackgroundOriginalName1 : "")" />
                <div id="background1-img">
                    @if (!string.IsNullOrEmpty(page.BackgroundImage1))
                    {
                        <img src="@(page.BackgroundImage1Url)" />
                    }
                </div>
            </div>
        </div>
        <div class="form-group">
            <h4 for="about-us-paragraph">About Us Section Paragraph</h4>
            <textarea class="form-control" required name="Paragraph2" id="about-us-paragraph">@page.Paragraph2</textarea>
        </div>
        <div class="form-group">
            <h4 for="parallax-paragraph">Parallax Section Paragraph</h4>
            <textarea class="form-control" required name="Paragraph3" id="parallax-paragraph">@page.Paragraph3</textarea>
        </div>

        <div class="card">
            <div class="card-content">
                <h4 class="card-title">Parallax Section Background</h4>
                <div class="form-group">
                    <input type="file" id="background2" />
                    <span class="material-input"></span>
                </div>
                <input type="hidden" name="BackgroundImage2" value="@(!string.IsNullOrEmpty(page.BackgroundImage2) ? page.BackgroundImage2 : "")" />
                <input type="hidden" name="BackgroundOriginalName2" value="@(!string.IsNullOrEmpty(page.BackgroundOriginalName2) ? page.BackgroundOriginalName2 : "")" />
                <div id="background2-img">
                    @if (!string.IsNullOrEmpty(page.BackgroundImage2))
                    {
                        <img src="@(page.BackgroundImage2Url)" />
                    }
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-content">
                <label>Slider Media</label>
                <div id="slider-grid" class="grid" style="overflow-y:scroll">
                    @foreach (AboutUsMedia item in aboutUsMedia)
                    {
                        if (item.Media.MediaType == Core.Enums.MediaType.Image)
                        {
                            <div class="text-center updateable grid-item">
                                <div class="text-center updateable grid-inner">
                                    <img class="card-display" src="@item.Media.Url" />
                                    <h3>@item.Name @item.Surname</h3>
                                    <h4>@item.Role</h4>
                                    <input type="hidden" value="@item.Name" class="media-name-input" name="SliderMediaNames" />
                                    <input type="hidden" value="@item.Surname" class="media-surname-input" name="SliderMediaSurnames" />
                                    <input type="hidden" value="@item.Role" class="media-role-input" name="SliderMediaRoles" />
                                    <input type="hidden" value="@item.Paragraph" class="media-paragraph-input" name="SliderMediaParagraphs" />
                                    <input type="hidden" value="@item.FacebookLink" class="media-facebook-input" name="SliderMediaFacebookLinks" />
                                    <input type="hidden" value="@item.TwitterLink" class="media-twitter-input" name="SliderMediaTwitterLinks" />
                                    <input type="hidden" value="@item.InstagramLink" class="media-instagram-input" name="SliderMediaInstagramLinks" />
                                    <input type="hidden" value="@item.WebsiteLink" class="media-website-input" name="SliderMediaWebsiteLinks" />
                                    <input type="hidden" value="@item.MediaId" class="media-id-input" name="SliderMediaIds" />
                                </div>
                                <a href="#" class="edit-info">Edit Info</a>
                            </div>
                        }
                    }
                </div>
            </div>
            
            <div class="card-footer clearfix">
                <div class="btn-group pull-right">
                    <a href="javascript:void(0)" class="btn btn-primary" id="remove-from-slider">Remove</a>
                    <a href="javascript:void(0)" class="btn btn-primary" data-target="#choose-media-modal" data-toggle="modal">Add</a>
                </div>
            </div>  
        </div>
        <div class="clearfix">
            <div class="btn-group pull-right">
                <a href="@Url.Action("Index", "Admin")" class="btn btn-default">Cancel</a>
                <button type="submit" class="btn btn-success">Save Changes</button>
            </div>
        </div>
       
</form>


<div id="choose-media-modal" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Choose media</h4>
            </div>
            <div class="modal-body">

                <div class="grid" style="overflow-y:scroll" id="add-slider-modal">
                    @foreach (Media item in media)
                    {
                        bool found = false;
                        foreach (AboutUsMedia usedItem in aboutUsMedia)
                        {
                            if (usedItem.MediaId == item.Id)
                            {
                                found = true;
                                break;
                            }
                        }

                        if (item.MediaType == Core.Enums.MediaType.Image)
                        {
                            <div class="text-center updateable grid-item grid-inner" data-id="@item.Id" style="display:@(found ? "none" : "block");">
                                <img class="card-display" src="@item.Url" />
                            </div>
                        }
                    }

                </div>

                <div class="row" style="padding-left:10px;">
                    <button href="#" class="btn btn-primary col-2 right" id="remove-from-server">Remove</button>
                    <label class="btn btn-primary btn-file text-center w-100">
                        Upload Photo <input type="file" style="display:none;" id="photo" hidden="" name="photo">
                    </label>
                    <button id="add-to-slider" class="btn btn-primary">Add to slider</button>
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>

<div id="edit-info-modal" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Choose media</h4>
            </div>
            <div class="modal-body">
                
                <input type="hidden" id="edit-id" />
                <label for="edit-name">Name</label>
                <input type="text" class="form-control" id="edit-name" />
                <label for="edit-surname">Surname</label>
                <input type="text" class="form-control" id="edit-surname" />
                <label for="edit-role">Role</label>
                <input type="text" class="form-control" id="edit-role" />
                <label for="edit-paragraph">Paragraph</label>
                <textarea class="form-control" id="edit-paragraph" ></textarea>
                <label for="edit-facebook">Facebook Link</label>
                <input type="text" class="form-control" id="edit-facebook" />
                <label for="edit-twitter">Twitter Link</label>
                <input type="text" class="form-control" id="edit-twitter" />
                <label for="edit-instagram">Instagram Link</label>
                <input type="text" class="form-control" id="edit-instagram" />
                <label for="edit-website">Website Link</label>
                <input type="text" class="form-control" id="edit-website" />

                <div class="row" style="padding-left:10px; padding-top: 10px;">
                    <button id="save-info" class="btn btn-primary">Save</button>
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>

<script type="text/javascript" src="@Url.Content("~/Content/js/isotope/dist/isotope.pkgd.min.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Content/js/imagesloaded.pkgd.min.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Content/js/adminAboutUsPage.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Content/js/ckeditor/ckeditor.js")"></script>
<script type="text/javascript">

    $(document).ready(function () {
        init("@Url.Action("SoloUpload", "Image")", "@Url.Action("SoloUpload", "Image", new { addToBase = true })",
            "@Url.Action("Delete", "Image")");

        CKEDITOR.replace('paragraph1');
        CKEDITOR.replace("about-us-paragraph");
        CKEDITOR.replace("parallax-paragraph");
    });
</script>